// RESET =======================================================================

*
  font-family Arial, sans-serif

html,
body,
#root
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  margin 0

ul
  margin 0
  padding 0
  list-style-type none

// RESET =======================================================================

// CONSTANTS ===================================================================

$main-theme    = #ffa300
$header-stripe = #4d91ff
$aside-theme   = #b3d7ff

// CONSTANTS ===================================================================

// MAIN ========================================================================

#root
  display flex
  justify-content center
  align-items center

.main-container

  // streched and centered without overflow
  // even with paddings and margins
  position absolute
  top 0
  left 0
  bottom 0
  right 0

  padding 20px
  display grid
  grid-template-columns 1fr 3fr
  grid-auto-rows minmax(min-content, max-content)
  grid-template-areas "header  header          header"\
                      "side    description     description"\
                      "side    workExperience  workExperience"\
                      "side    projects        projects"

  & > header
    grid-area header
    margin-bottom 16px
    padding-bottom 10px
    display flex
    justify-content center
    position relative

  aside
    background-color $aside-theme
    grid-area side
    border-right 2px solid $main-theme
    padding-right 16px
    padding-top 12px

  section
    padding-left 16px

    & > header
      font-weight bold
      font-size 18px
      padding-bottom 8px

.description
  grid-area description

.work-experiences
  grid-area workExperience

  article:last-child
    border-bottom 2px solid $main-theme

.projects
  grid-area projects
  padding-top 12px

.header-title
  display flex
  flex-direction column
  align-items center

  h1, h2
    display inline-block
    margin 0

  h1
    font-size 30px
    padding 10px 23px
    margin-bottom 8px
    border 2px solid $main-theme
    background-color white

  h2
    font-size 20px

.stripe
  position absolute
  top 42px
  left 0
  right 0
  bottom 0
  background-color $header-stripe
  z-index -1
